<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Restaurant Service', root_url, class: 'navbar-brand' %>
    </div>

    <% if user_signed_in? %>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to :oauth_applications.to_s.titleize, oauth_applications_path %></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= current_user.email %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
            </ul>
          </li>
        </ul>
      </div>
      <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to('Sign in', new_user_session_path) %></li>
      </ul>
    <% end %>
    <!--/.nav-collapse -->
  </div>
</nav>
<br/><br/><br/><br/>