<!DOCTYPE html>
<html>
<head>
  <title>Restaurant Service</title>
  <%= csrf_meta_tags %>
  <!--Reset CSS-->
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>

<%= render "layouts/header" %>
<div class="container">
  <%= yield %>
</div>

<!-- javascript start -->
<%= javascript_include_tag 'application' %>
<!-- javascript end -->

</body>
</html>